@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.header-block {
  height: 6rem;
  text-align: center;
  color: white;
  background: #0062cc;
  margin-bottom: 1.8rem;
  position: relative;
}

.header-title {
  line-height: 6rem;
  font-family: 'Anton', sans-serif;
  font-size: 50px;
}

.website-link {
  font-size: 1.2rem;
  font-weight: 500;
  color: #eee;
}

.website-link:hover {
  opacity: 0.2;
  color: #081a2c;
  text-decoration: none;
  
}

.header-description {
  margin-top: 1.5rem;
}

.header-icon {
  margin-left: .4rem;
  display: inline-block;
  color: white;
}

.header-icon:hover {
  cursor: pointer;
  opacity: 0.5;
}

.contacts-wrapper {
 position: absolute;
 top: 15px;
 right: 15px;
}

@media only screen and (max-width: 576px) {
  .header-icon {
    margin: .1rem;
  }

  .header-title {
    line-height: 5rem;
  }

  .website-link {
    font-size: 1rem;
    font-weight: 500;
    color: #eee;
  }
  
  .website-link:hover {
    opacity: 0.2;
    color: #081a2c;
    text-decoration: none;
    
  }

  .contacts-wrapper {
   position: absolute;
   top: 5px;
   right: 5px;
  }
}
